html, body {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Arial","Helvetica",sans-serif;
	background-color: #f5f5f1;
}
.main-container {
	 min-height:100%;
   position:relative;
}
.header {
	width: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 0 10px 0;
	height:80px;
	position: relative;
	border-bottom: 1px solid #E2E2E2;
	box-shadow: 0px 1px 12px -7px rgba(0,0,0,0.79);
	z-index: 1000;
	min-width: 1000px;
	background-color: #ffffff;
}
.header-inner {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
	padding: 0 10px 0;

}
.left {
	float: left;
	position: relative;
	width: 505px;
	overflow: auto;
	height: 78px;

}
.logo {
	width: 75px;
	height: 36px;
	background-image: url(https://www.etsy.com/assets/dist/images/etsylogo@2x.20150211155055.png);
	background-size: 75px 36px;
	float: left;
	display: inline-block;
	margin-top: 24px;
}

form .search-form {
	position: relative;
	width: 343px;
	height: 100%;
}
form .search-field {
	position: absolute;
	width: 238px;
	top: 23px;
	border: 1px solid #ded9d5;
	background: #fbfbfa;
	padding: 6px 10px;
	margin-left: 20px;
	height: 20px;
	font-size: 14px;
	box-shadow: inset 0 0 3px #e0dfde;
	border-radius: 2px;
}
form .submit {
	position: absolute;
	top: 23px;
	left: 277px;
	width: 83px;
	height: 34px;
	border-radius: 3px;
	color: #ffffff;
	background-color: #58aeca;
	border: 1px solid #54acc7;
	box-shadow: inset 0px 2px 2px 0px #95cfdf; 
	font-weight: bold;
	font-size: 15px;
}
form .browse {
	position: absolute;
	top: 23px;
	left: 383px;
	width: 79px;
	height: 34px;
	border-radius: 3px;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	font-size: 14px;
	color: #666666;
}
.header-right {
	float: right;
	text-align: right;
	height: 40px;
	box-sizing: border-box;
}
.header-right a {
	color: #1692b3;
	font-size: 13px;
	margin-top: 34px;
	text-decoration: none;
}
.signup {
width: 61px;
height: 34px;
border-radius: 3px;
background: #ffffff;
border: 1px solid #1697b4;
color: #1697b4;
margin-top: 23px;
padding: 10px;
box-sizing: border-box;
display: inline-block;
font-size: 12px;
margin-right: 12px;
margin-left: 12px;
}
.reg {

}
.cart {
background: url(imgs/cart.png) 0 -30px no-repeat;
display: inline-block;
height: 16px;
width: 21px;
margin-right: 16px;
float: right;
background-position: left;
padding-top: 47px;
font-size: 12px;
padding-right: 18px;
margin-left: 20px;
color:#878787;
}
.header-right a:hover {
	text-decoration:underline;
	}
.main {
	background-color: #f5f5f1;
	margin: 0 auto;
	width: 980px;
	padding: 25px 0;
	padding-bottom:400px; /*height of footer*/
	overflow: auto;
	zoom: 1;
}
.main-left {
	width: 224px;
	margin-right: 28px;
	position: relative;
	box-sizing: border-box;
}
.left-col {
	width: 100%;
	margin-top: 10px;
	background: #ffffff;
	border: 1px solid #ececec;
	border-radius: 4px;
	float: left;
	box-sizing: border-box;
}
.left-msg {
	color: #666666;
	font-size: 13px;
	font-weight:bold;
}
ul.categories {
	list-style: none;
	list-style: none;
	padding-left: 0;
	margin-top: 10px;
}
ul.categories li {
	padding-left: 24px;
	height: 21px;
}
ul.categories li a {
	color: #1692b3;
	font-size: 13px;
	text-decoration: none;
}
ul.categories li a:hover {
	text-decoration:underline;
}
.categories li .on {
	margin-left: -10px;
	font-weight:bold;
}
.status-msg {
	font-style:normal;
}
.price-filter {
	margin-left:14px;
}
form .price-filter-input {
	width: 52px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #cfcbc8;
	padding: 0;
	font-size: 13px;
	box-shadow: inset 1px 1px 1px 1px #f1f1f1;
	padding-left: 6px;
}
.to {
	color: #666666;
	font-size: 12px;
}
.price-filter-submit {
	background: url(imgs/arr.png) no-repeat 12px 5px;
	display: inline-block;
	height: 34px;
	width: 44px;
	margin-right: 16px;
	float: right;
	border-radius: 3px;
	border: 1px solid #dddad6;
	box-shadow: inset 0px 3px 4px 0px #FFFFFF;
	background-color: #f3f3f2;
}
.cat {
	margin-top: 20px;
}
.color {
	margin-top: 13px;

}
.color-boxes {
	padding-top: 2px;
	margin-left: 15px;
}
.faux-check {
	background: linear-gradient(#ffffff, #e5e5e5);
	width: 14px;
	height: 15px;
	border-radius: 3px;
	border: 1px solid #c3bebc;
	box-shadow: 1px 2px 5px #e5e5e5;
	margin-left: 16px;
	float: left;
	margin-right: 8px;
	clear: left;
}
.box {
	width: 18px;
	height: 18px;
	border-radius: 2px;
	display: inline-block;
	margin-right: -1px;
	border: 1px solid #e2e2e2;
}
.red {
	background-color: #f11439;
}
.orange {
	background-color: #fd7f23;
}
.yellow {
	background-color: #f2cb30;
}
.green {
	background-color: #20c024;
}
.blue {
	background-color: #26ccf1;
}
.purple {
	background-color: #a527ef;
}
.black {
	background-color: #000000;
}
.white {
	background-color: #ffffff;
}
.ordering-opt {
	overflow:auto;
	height: 50px;
}
.ordering-opt a {
	color: #1692b3;
	font-size: 13px;
	text-decoration: none;
	float: left;
	line-height: 22px;
}
.item-type {
	font-size: 13px;
	margin: 0;
	list-style: none;
	padding-left: 13px;
}
.item-type li:first-child {
	color: #666666;
  background:url('imgs/bullet-on.png') no-repeat 0 0;
  padding-top: 3px;
  font-weight: bold;
}

.item-type li {
	color: #1692b3;
	background: url('imgs/bullet-off.png') no-repeat 0 0;
	padding-left: 28px;
	height: 26px;
	line-height: 19px;
}
.item-type a {
	color: #1692b3;
	text-decoration:none;
}
.item-type a:hover {
	text-decoration:underline;
}
a.clear {
	color: #1692b3;
	font-size: 13px;
	text-decoration: none;
	float: right;
	line-height: 0px;
	margin-top: -15px;
	margin-right: 15px;
}
a.clear:hover {
	text-decoration:underline;
}
.ships-to {
	width: 184px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #cfcbc8;
	font-size: 13px;
	box-shadow: inset 1px 1px 1px 1px #f1f1f1;
	padding-left: 6px;
	margin-left: 15px;
	margin-bottom: 20px;
	margin-top: 4px;
	}
h4 {
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	margin-top: 13px;
	margin-left: 14px;
	margin-bottom: 9px;
}
.main-right {
	margin-left: 252px;
	width: 756px;
	margin-top: -15px;

}
.right-col {
	width: 100%;
	margin-top: 10px;
	border-radius: 3px;
	box-sizing: border-box;
}
.right-msg {
	color: #666666;
	font-size: 13px;
	font-weight:bold;
}
.right-bottom {
	clear: left;
	padding-top: 14px;
	font-size: 14px;
	color: #363636;
	overflow: auto;
}
.right-bottom a {
	color: #1692b3;
	font-size: 13px;
	text-decoration: none;
}
.right-bottom-title {
	position:relative;
}
ul.tags-list {
	list-style: none;
	padding-left: 0;
	margin-top: 10px;
	display: inline-block;
	float: left;
	width: 133px;
}
ul.tags-list li {
	display:inline;
}
ul.tags-list li a {
	line-height: 22px;
	display: list-item;
}
.looking-for {
	clear: left;
	padding-top: 14px;
	display: inline-block;
	width: 122px;
	float: left;
}
a.shops {
	display: inline-block;
	float: left;
	padding-top: 14px;
	padding-right: 7px;
}
a.shops:after {
	content: ",";
}
.pagination {
	width:100%;
	text-align:center;
	margin-top: 43px;
}
.pagination a {
	color: #1692b3;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	padding-right: 7px;
	padding-left: 7px;
}
.next {
	background-image: url(imgs/pg-btn-rt.png);
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-size: 30px;
	display: inline-block;
	clear: left;
}
.previous {
	background-image: url(imgs/pg-btn-lt.png);
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-size: 30px;
	display: inline-block;
	margin-right: 10px;
	opacity: 0.5;
}
.footer-wrapper {
	width: 980px;
	margin-right:auto;
	margin-left:auto;
	clear: left;
	padding-top: 68px;
	font-size: 13px;
	color: #363636;
	overflow: auto;
}
.footer-wrapper a {
	color: #1692b3;
	font-size: 13px;
	text-decoration: none;
	margin-top: 7px;

}
.footer-title {
	width: 150px;
	display: block;
	margin-bottom: 8px;
	display: inline-block;
}
ul.footer-links {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	float: left;
	width: 147px;
	margin-right: 49px;
}
ul.footer-links li a {
	line-height: 19px;
	display: list-item;
}
ul.footer-links li a.fb:before {
  content: "";
  display: block;
  background: url("imgs/fb.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 2px 3px 0 0;
}
ul.footer-links li a.tw:before {
  content: "";
  display: block;
  background: url("imgs/tw.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 2px 3px 0 0;
}
ul.footer-links li a.pn:before {
  content: "";
  display: block;
  background: url("imgs/pn.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 1px 3px 0 0;
}
ul.footer-links li a.in:before {
  content: "";
  display: block;
  background: url("imgs/in.png") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 2px 3px 0 0;
}
.grey {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	font-size: 11px;
	text-align: center;
	color: #666666;
	margin-top: 21px;
}
.grey-box {
	height: 30px;
	display: inline-block;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
	margin: 13px -4px 0px 0px;
	padding: 12px 12px 24px 12px;
	display: inline-block;
	font-size: 12px;
	box-sizing: border-box;
}
.grey-box a {
	color: #666666;
	text-decoration:none;
}
.grey-box .us:before {
	content: "";
	display: block;
	background: url("imgs/world.png") no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: -1px 0px 0 0;
}

.copyright {
	font-size: 12px;
	margin-top: 23px;
	color: #999999;
}
.copyright a {
	color: #666666;
	text-decoration: none;
	margin-right: 15px;
}
.copyright a:first-child {
	margin-left: 25px;
}
.help-btn {
	display: inline-block;
	height: 0px;
	width: 166px;
	border-radius: 3px;
	border: 1px solid #dddad6;
	box-shadow: inset 0px 3px 4px 0px #FFFFFF;
	background-color: #f3f3f2;
	margin-top: 6px;
	position: relative;
	box-sizing: border-box;
	padding: 8px 26px 25px 12px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 35px;
}
.btn-blue {
	height: 25px;
	border-radius: 3px;
	color: #ffffff;
	background-color: #58aeca;
	border: 1px solid #54acc7;
	box-shadow: inset 0px 1px 2px 0px #95cfdf;
	font-size: 12px;
	display: block;
	width: 101px;
	padding: 5px 0 7px 12px;
	box-sizing: border-box;
	clear: left;
	margin: 7px 0 24px 0;
	cursor: pointer;
}
.btns-wrapper {
	width:100%;
	text-align:center;
	margin-top: 13px;	
}
hr.footer {
	background-color: #dfdfdf;
	color: #dfdfdf;
	height: 1px;
	width: 102%;
	border: none;
	margin-bottom: 16px;
	position: relative;
}
.product {
	background: #fff;
	position: relative;
	border: 1px solid #ececec;
	border-radius: 3px;
	box-sizing: border-box;
	height: 220px;
	width: 224px;
	margin: 0 28px 18px 0;
	display: inline-block;
	padding: 0;
	float:left;
}
.product img {
	width: 215px;
	height: 170px;
	margin: 0;
	padding: 4px 0 0 0;
}
.product:nth-child(3n) {
	margin-right:0;
}
.img-wrap {
	text-align:center;
}
.prod-title {
	font-size: 12px;
	margin-left: 6px;
	color: #666666;
}
.seller {
	font-size: 12px;
	float: left;
	margin-left: 6px;
	margin-top: 4px;
}
.price {
	float: right;
	font-size: 13px;
	color: #7fc150;
	margin-right: 6px;
	margin-top: 4px;
}
hr {
	background-color: #dfdfdf;
	color:#dfdfdf;
	height: 1px;
	width: 88%;
	border:none;
	margin-bottom: 16px;
}
.end {
	margin-right: 0px;

}
.footer {
	position:absolute;
  bottom:0;
  width:100%;
  height:400px;   /* Height of the footer */
	background-color:#f5f5f1;
	overflow:auto;
}

